body{
	box-sizing: border-box;
  	margin: 0;
 	padding: 0;
	background-color: #FFEFD5;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;


}

#header-nav{
	background-color: #FFDAB9;
	border-radius: 0;
	border:0;
}
.navbar-brand h1{
	font-size: 1.5em;
	text-transform: uppercase;
	color:black;
	margin-top: 0;
    margin-bottom: 0;
  	line-height: .75;
  	margin-left:0;

}
#nav-list {
  margin-top: 10px;
   list-style: none;
   margin-bottom: 10px;

}
#nav-list a {
  color: #FFFFFF;
  text-align: center;
 
}
#nav-list a:hover {
  background: #E7E7E7;
  text-decoration: none;
}
.container{
	padding:0;
}

#content .name {
	text-align: center;
}
#content .tile{
	background-color: #FFDAB9;
	size:100%;
	border: 10px solid #FFEFD5;
}
#title{
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	text-shadow:  4px 4px #FFDAB9;
}
